

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}


.flashes h4 {
    line-height: 2;
}

.btn, .btn-large, .btn-small{
        background-color: purple;
}
.btn:hover, .btn-large:hover, .btn-small:hover{
        background-color: rgb(161, 150, 161);
}

.btn-small{
    margin: 5px
    
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}


.delete-btn-modal{
    color: red;
}
.delete-paragraph-modal{
    color: purple;
}


