/*<!--This page and it's code was/were influenced by the 'Backend Development Mini Project' by Code Institue-->*/

@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Vollkorn+SC&display=swap');

 
body{
   font-family: 'Vollkorn SC', serif; 
   background-image: linear-gradient(#f0ede5, #7c0999); 
   min-height: 100vh;
   
}

.welcome-txt{
    font-size: 20px;
}

#card-search{
    
    color: red;
}
/*profile.html photo */
.profile-photo img{
    width: 50%;
    height: 50%;
}



/*styling for background images*/

.the-way{
    background-image: url("/static/css/img/homepage.jpg") ;
    background-size: cover;
  height: 100vh;
}

.the-way-login{
background-image: url("/static/css/img/wine-pour.jpg") ;
    background-size: cover;
  height: fit-content;
}

.the-way-register{
    background-image: url("/static/css/img/register-img.jpg") ;
    background-size: cover;
  height: fit-content;

}

.the-way-recipes{
     background-image: url("/static/css/img/register-img.jpg") ;
    background-size: cover;
  height: 100vh;
}


h2{
    font-weight: 500;
}
.over-flow{
    overflow: hidden;
}
/* Id for nav-bar once logged in to help the user quickly identify the location */

#add-recipe{
    border: 100%;
    background: rgb(243, 100, 5);
    color: #fafafa;

}
#add-recipe:hover{
    border: 100%;
    background: rgb(204, 17, 195);
    color: #fafafa;

}
/*syling for nav-bar links*/

.nav-link:hover{
    border: 100%;
    background: rgb(204, 17, 195);
    color: #fafafa;
}

.brand-logo{
   border: 100%;
}

.brand-logo:hover{
    border: 100%;
    background: rgb(204, 17, 195);
    color: #fafafa;
}
/* idea from Code insitute*/
.text-shadow{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

/*idea from Code institue*/
.flashes h4 {
    line-height: 2;
}

/*Button Styling*/
.btn, .btn-large, .btn-small{
        background-color: #f86af8;
}
.btn:hover, .btn-large:hover, .btn-small:hover{
        background-color: rgb(161, 150, 161);
}

.btn-small{
    margin: 5px
    
}
/*Card Styling*/
.card{
    margin-top: 20%;
    
}

.card-panel{ /* edits the register and login cards*/
    margin: 6.5rem;
}
.card .card-image .card-title {
    color: red;
}
 
 /*editing the header to make it look more user friendly*/
.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}
/*Title's inside the recipe.html page styling*/
#title-name{
    color: green;
    font-size:40px ;
    text-shadow: 2px 2px 2px rgba(10, 195, 72, 0.5);
}

.title-name{
    color: green;
    font-size: 15px;
     text-shadow: 2px 2px 2px rgba(10, 195, 72, 0.5);
}

.outside-title{
    color: #fac600;
    font-size: 20px;
}

.recipe-font{
    color: #3f1d40;
    margin: 0 auto;
    padding: 10px;
}

.recipe-img{
    margin: 20px;
    width: 30%;
    height: 20%;
}

/*Delete button styling*/

.delete-btn-modal{
    color: red;
}
.delete-paragraph-modal{
    color: purple;
}

.input-field .helper-text{
    color: #fac600;
}
/*Footer styling*/
.page-footer {
    background-color: #401e4b;
}

.social-links {
    margin-top: 20px;
}
.fab {
    background-color:#401e4b; 
    height: 50px;
    width: 50px;
    color: #cca90f;
    font-size: 30px;
    padding: 5px;
    
}
.fab:hover {
  
  font-size: 40px;
}

@media (max-width: 1024px){
     
.card-panel{
    margin: 3.5rem;
}

 }

@media (max-width: 768px){
     
.card-panel{
    margin: 1.5rem;
}

 }

