{% extends "base.html" %}
{% block content %}


    <div class="row card-panel purple darken-3">
        <form class="col s12" method="POST" action="{{ url_for('add_task') }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix white-text  text-darken-4"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                         <option value="{{category.category_name}}">{{category.category_name}}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Recipe Category</label>
                </div>
            </div>
            <!--recipe name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-bread-slice  prefix white-text  text-darken-4"></i>
                    <input id="recipe_name" name="recipe_name" type="text"
                     minlength="5" maxlength="50" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!--recipe ingredients-->
             <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-egg prefix white-text  text-darken-4"></i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                     maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_ingredients">Ingredients</label>
                </div>
            </div>
            <!--recipe method-->
             <div class="row">
                <div class="input-field col s12">
                    <i class="fas  fa-pencil-alt prefix white-text  text-darken-4"></i>
                    <input id="recipe_method" name="recipe_method" type="text"
                     class="validate" required>
                    <label for="recipe_method">Recipe Method</label>
                </div>
            </div>
            <!--image url-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas  fa-image prefix white-text text-darken-4"></i>
                    <input id="image_url" name="image_url" type="text"
                     class=" validate" required>
                    <label for="image_url">Image Url eg https:www.</label>
                </div>
            </div>
            <!--submitt btn-->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn waves-effect waves-yellow text-shadow darken-1">
                        Submitt<i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            
            </div>
        </form>
    </div>

{% endblock %}