{% extends "base.html" %}
{% block content %}
   

    <h3 class="text-darken-4 purple-text lighten-1 text-darken-1 center-align text-shadow">Recipes</h3>
      <ul class="collapsible popout">
        {% for recipes in recipe %}
        <li>
            <div class="collapsible-header white-text text-shadow purple darken-3">
                <i class="fas fa-caret-down"></i>
                <div class="col s3">
                    {% if session.user|lower == recipes.created_by|lower %}
                        <!-- Modal Trigger for delete button -->
                        <a class="waves-effect waves-light btn red modal-trigger" href="#modal1">Delete</a>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <h4 class="delete-btn-modal">Are you sure?</h4>
                                <p class="delete-paragraph-modal">You can always go back and edit instead?</p>
                            </div>
                            <div class="modal-footer">
                                <a class="modal-close  blue btn-small">Cancel</a>
                                <a href="{{url_for('delete_recipes', recipes_id=recipes._id)}}" class="modal-close  red btn-small">Delete</a>
                            </div>
                        </div>
                        <a href="{{url_for('edit_recipes', recipes_id=recipes._id)}}" class="waves-effect waves-light green btn-small">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">
                <strong>{{ recipes.category_name }}</strong> : {{ recipes.recipe_name }}
                </div></div>
            
            <div class="collapsible-body ">
                <strong>{{ recipes.category_name }}</strong>
                <p>Name: {{ recipes.recipe_name }}</p>
                <p>Ingredients: {{ recipes.recipe_ingredients }}</p>
                <p>Method: {{ recipes.recipe_method }}</p>
                <p>Image: {{ recipes.image_url }}</p>
                <p><em>by:{{ recipes.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
     

{% endblock %}
    

