{% extends "base.html" %}
{% block content %}
   

    <h3 class="text-darken-4 purple-text lighten-1 text-darken-1 center-align text-shadow">Recipes</h3>
      <ul class="collapsible popout">
        {% for recipes in recipe %}
        <li>
            <div class="collapsible-header white-text text-shadow purple darken-3">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipes.category_name }}</strong> : {{ recipes.recipe_name }}
            </div>
            <div class="collapsible-body ">
                <strong>{{ recipes.category_name }}</strong>
                <p>Name: {{ recipes.recipe_name }}</p>
                <p>Ingredients: {{ recipes.recipe_ingredients }}</p>
                <p>Method: {{ recipes.recipe_method }}</p>
                <p>Image: {{ recipes.image_url }}</p>
                <p><em>by:{{ recipes.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
     

{% endblock %}
    

